body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(27,23,170,1) 46%, rgba(0,212,255,1) 100%);
  
}
.df {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;

    
}

marquee {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(59, 54, 209) 46%, rgba(0,212,255,1) 100%);
    font-size: 30px;
    height: 40px;
    color: white;
}

.main {
    background-color: white;
    border: 2px solid black;
    width: 400px;
    height: 600px;
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 150px;
    height: 150px;
    border: 5px solid black;
    margin: 20px;
    background-color: wheat;
    border-radius: 8px;
    z-index: 1;
    
}

.rok {
    display: flex;
    flex-direction: row;

}

